# Database Migration Settings
GOOSE_DRIVER="postgres"
GOOSE_MIGRATIONS_DIR="./internal/adapters/postgresql/migrations"
GOOSE_DBSTRING="postgres://postgres:postgres@localhost:5432/db_bname?sslmode=disable"

ALLOWED_ORIGINS="https://...,http://..."

# Application Secrets
SECRET_KEY="some-legacy-secret-key"
JWT_ACCESS_SECRET="your-development-jwt-access-token-secret-key"
JWT_REFRESH_SECRET="your-development-jwt-refresh-token-secret-key"

# Client Details
CLIENT_DOMAIN="http://localhost:8080"

# Google OAuth Credentials
GOOGLE_CLIENT_ID="your-google-oauth-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-oauth-client-secret"
GOOGLE_REDIRECT_URL="http://localhost:8080/api/v1/auth/callback"

# Mailjet SMTP Email Service Credentials
MJ_APIKEY_PUBLIC="your-mailjet-public-api-key"
MJ_APIKEY_PRIVATE="your-mailjet-private-api-key"
MJ_SENDER_EMAIL="no-reply@yourdomain.com"
MJ_SENDER_NAME=""
